#ooct-settings header.table-header {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border: 1px solid var(--color-border-dark-primary);
    text-align: center;
    color: var(--color-text-light-highlight);
    font-weight: bold;
    text-shadow: 1px 1px var(--color-shadow-dark);
}

#ooct-settings ul.action-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 300px;
    
    overflow: hidden auto;
}

#ooct-settings li.action {
    padding: 5px;
    border-bottom: 1px solid var(--color-border-light-tertiary);
}
#ooct-settings li.add-row {
    text-align:center;
    padding:5px;
}

#ooct-settings li i,#ooct-settings header label.icon {
    flex:0;
    min-width:50px;
    text-align:center;
}

#ooct-settings li i {
    font-size:1.2em;
}
#ooct-settings li input {
    margin: 0px 2px 0px 2px;
    text-align:center;
}
#ooct-settings li a {
    flex:unset;
}

#ooct-settings .label-text {
    flex:6;
}
#ooct-settings .icon-text {
    flex:4;
}

.token-initiative i {
    font-size: 2em;
    vertical-align: middle;
}