<form>
    <p style="text-align:center">{{{localize "OOCT.apps.fa_blurb"}}}</p>
    <header class="table-header flexrow">
        <label class="icon">{{ localize "" }}</label>
        <label class="label-text">{{ localize "OOCT.apps.label" }}</label>
        <label class="icon-text">{{ localize "OOCT.apps.icon" }}</label>
        <label class="icon">{{ localize "OOCT.apps.delete" }}</label>
    </header>

    <ul class="action-list">
        {{#each choices}}
        <li class="action form-group">
            {{{this.rendered}}}
            <input name="choices.{{@index}}.label" class="label-text" type="text" value="{{this.label}}"/>
            <input name="choices.{{@index}}.icon" class="icon-text" type="text" value="{{this.icon}}"/>
            <a><i class="fa-solid fa-trash" data-tooltip="Delete"></i></a>
        </li>
        {{/each}}
        <li class="add-row"><i class="fa-solid fa-add" style="display:contents;"></i> {{localize 'OOCT.apps.add_row'}}</li>
    </ul>
    <div class="form-group">
        <button type="submit">
            <i class="fas fa-save"></i> {{localize 'OOCT.apps.save'}}
        </button>

        <button id="reset-actions">
            <i class="fas fa-sync"></i> {{localize 'OOCT.apps.reset'}}
        </button>
    </div>
</form>